<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Survey Form</title>
        <meta charset='UTF-8'>
    </head>
    <body>
        <form action='/surveys/process' method='POST'>
        {% csrf_token %}
            <p><label for='name'>Your Name: </label><input type='text' name='name'></p>
            <p>
                <label for ='location'>Dojo Location</label>
                <selet name='location'>
                    <option select value='San Jose'>San Jose</option>
                    <option value='Seattle'>Seattle</option>
                    <option value='Burbank'>Burbank</option>
                    <option value ='D.C'>D.C.</option>
                </selet>
            </p>
            <p>
                <label for ='language'>Favorite Language</label>
                <select name='language'>
                    <option selected value='Python'>Python</option>
                    <option value='Javascript'>Javascript</option>
                    <option value='iOS SWIFT'>iOS SWIFT</option>
                </select>
            </p>
            <p><label for ='comment'>Comment: </label><textarea name='comment' rows='5' cols='25'></textarea></p>
            <input type='submit' value='Submit'>
        </form>
    </body>
</html>